{% extends 'base.html.twig' %}

{% block title %}{{ title|default("Dashboard") }}{% endblock %}
{% block body %}
    {% embed "partials/_navbar.html.twig" %}
    {% endembed %}
    {% embed "partials/_container.html.twig" %}
        {% block container %}
            {% if musees %}
                {% embed "partials/_card.html.twig" with {card_header:1} %}
                    {% block header %}
                        <b>Résultat de votre recherche :</b> "{{ query }}"
                    {% endblock %}
                    {% block content %}
                        <p>nombre de résultats: <b>{{ musees|length }}</b></p>
                        <div class="list-group shadow-sm">
                            {% for musee in musees %}
                                <a href="{{ path("musee_show", {id: musee.id, query: query}) }}"
                                   class="list-group-item list-group-item-action link-primary">
                                    🔗 {{ musee.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endblock %}
                {% endembed %}
            {% else %}
                <div class="alert alert-danger">Pas de résultat pour la recherche : <b>{{ query }}</b></div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}