<div class="card mt-2 shadow {{ card_classes|default("") }}">
    {% if card_header is defined %}
        <h5 class="card-header">{% block header %}Header{% endblock %}</h5>
    {% endif %}
    <div class="card-body">
        {% if card_title is defined %}
            <h5 class="card-title">{% block title %}Title{% endblock %}</h5>
        {% endif %}
            {% block content %}
                Texte
            {% endblock %}
    </div>
</div>