<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow-sm px-3">
    <a class="navbar-brand" href="{{ path('accueil_index') }}">{% block nav_brand %}<img
            src="{{ asset("images/musee.svg") }}" width="40" height="40" alt="musee"> Musée Lookout{% endblock %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            {% block nav_items %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMusee" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        🏛️ Musées
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuMusee">
                        <a class="dropdown-item wide-dropdown" href="{{ path("musee_root") }}">🗂️ Index des musées</a>
                        <div class="dropdown-divider"></div>
                        <form class="px-4 py-3" action="{{ path("musee_search") }}" method="get">
                            <div class="mb-3">
                                <label class="form-label" for="paysSearch">Rechercher un musée</label>
                                <input type="search" name="query" class="form-control" id="paysSearch">
                            </div>

                            <button type="submit" class="btn btn-primary">Rechercher 🔎</button>
                        </form>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuDirecteur" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        👨‍🏫 Directeur
                    </a>
                    <div class="dropdown-menu wide-dropdown" aria-labelledby="navbarDropdownMenuDirecteur">

                        <a class="dropdown-item" href="{{ path("directeur_root") }}">🗂️ Index des directeurs</a>
                        <div class="dropdown-divider"></div>
                        <form class="px-4 py-3" action="{{ path("directeur_search") }}" method="get">
                            <div class="mb-3">
                                <label class="form-label" for="directeurSearch">Rechercher un directeur</label>
                                <input type="search" name="query" class="form-control" id="directeurSearch">
                            </div>

                            <button type="submit" class="btn btn-primary">Rechercher 🔎</button>
                        </form>

                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuEmplacement" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        🏙️ Emplacements
                    </a>
                    <div class="dropdown-menu wide-dropdown" aria-labelledby="navbarDropdownMenuEmplacement">

                        <a class="dropdown-item" href="{{ path("emplacement_root") }}">🗂️ Index des emplacement</a>
                        <div class="dropdown-divider"></div>
                        <form class="px-4 py-3" action="{{ path("emplacement_search") }}" method="get">
                            <div class="mb-3">
                                <label class="form-label" for="paysSearch">Rechercher un emplacement</label>
                                <input type="search" name="query" class="form-control" id="paysSearch">
                            </div>

                            <button type="submit" class="btn btn-primary">Rechercher 🔎</button>
                        </form>

                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</nav>