{% extends 'base.html.twig' %}

{% block title %}{{ title|default("Dashboard") }}{% endblock %}
{% block body %}
    {% embed "partials/_navbar.html.twig" %}
    {% endembed %}
    {% embed "partials/_container.html.twig" %}
        {% block container %}
            {% if directeurs %}
                {% embed "partials/_card.html.twig" with {card_header:1} %}
                    {% block header %}
                        <b>Index des directeurs :</b>
                    {% endblock %}
                    {% block content %}
                        <p>nombre de résultats: <b>{{ directeurs|length }}</b></p>
                        <div class="list-group shadow-sm">
                            {% for directeur in directeurs %}
                                <a href="{{ path("directeur_show", {id: directeur.id}) }}"
                                   class="list-group-item list-group-item-action link-primary">
                                    🔗 {{ directeur.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endblock %}
                {% endembed %}
            {% else %}
                <div class="alert alert-danger">Pas de résultat.</div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}