{% extends 'base.html.twig' %}

{% block title %}{{ title|default("Dashboard") }}{% endblock %}
{% block body %}
    {% embed "partials/_navbar.html.twig" %}
    {% endembed %}
    {% embed "partials/_container.html.twig" %}
        {% block container %}
            {% if emplacements %}
                {% embed "partials/_card.html.twig" with {card_header:1} %}
                    {% block header %}
                        <b>Index des emplacements ayant des musées :</b>
                    {% endblock %}
                    {% block content %}
                        <p>nombre de résultats: <b>{{ emplacements|length }}</b></p>
                        <div class="list-group shadow-sm">
                            {% for emplacement in emplacements %}
                                <a href="{{ path("emplacement_show", {id: emplacement.id}) }}"
                                   class="list-group-item list-group-item-action link-primary">
                                    🔗 {{ emplacement.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endblock %}
                {% endembed %}
            {% else %}
                <div class="alert alert-danger">Pas de résultat.</div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}