body {
    background: transparent;
}

html {
    background: url("../images/bg.jpg") no-repeat center fixed;
    background-size: cover;
}

.wide-dropdown {
    min-width: 400px;
}


.border-triple {
    border-bottom: 1px solid #dee2e6 !important;
}

@media (min-width: 992px) {

    .border-triple {
        border-right: 1px solid #dee2e6 !important;
        border-bottom: none !important;
    }
}

.panel:target {
    display: block;
}

.panel {
    display: none
}

#mapid {
    height: 350px;
}