{% extends 'base.html.twig' %}

{% block title %}{{ title|default("Dashboard") }}{% endblock %}
{% block body %}
    {% embed "partials/_navbar.html.twig" %}
    {% endembed %}
    {% embed "partials/_container.html.twig" %}
        {% block container %}
            {% embed "partials/_card.html.twig" with {card_header:1} %}
                {% block header %}
                    <b>Musée Lookout</b> : Découvrez les musées du monde
                {% endblock %}
                {% block content %}
                    <div class="alert alert-info mb-4 mt-2 shadow-sm">
                        <p>
                            <b>Sur ce site 🌐</b>, vous pourrez découvrir grâce à des index et à des formulaires de
                            recherche
                            les différents
                            <b>musées du monde</b> ainsi que naviguer entre les différents <b>emplacements</b> dans
                            lesquels se situent ces musées.
                        </p>
                        <p>
                            Vous aurez aussi l'opportunité d'en apprendre plus sur les <b>directeurs de ces musées</b>
                            lorsque des infos sur ceux-ci sont disponibles
                        </p>
                    </div>
                    <hr>
                    <section class="searches row my-4">
                        <div class="col-lg my-2">
                            <article class="card-body card shadow-sm">
                                <form class="px-4 py-3" action="{{ path("musee_search") }}" method="get">
                                    <div class="mb-3">
                                        <label class="form-label" for="muséeSearch">🏛️ Rechercher un musée</label>
                                        <input type="search" name="query" class="form-control" id="muséeSearch">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Rechercher 🔎</button>
                                </form>
                            </article>
                        </div>
                        <div class="col-lg my-2 ">
                            <article class="card-body card shadow-sm">
                                <form class="px-4 py-3" action="{{ path("directeur_search") }}" method="get">
                                    <div class="mb-3">
                                        <label class="form-label" for="directeurSearch">👨‍🏫 Rechercher un
                                            directeur</label>
                                        <input type="search" name="query" class="form-control" id="directeurSearch">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Rechercher 🔎</button>
                                </form>
                            </article>
                        </div>
                        <div class="col-lg my-2">
                            <article class="card-body card shadow-sm">
                                <form class="px-4 py-3" action="{{ path("emplacement_search") }}" method="get">
                                    <div class="mb-3">
                                        <label class="form-label" for="emplacementSearch">🏙️ Rechercher un
                                            emplacement</label>
                                        <input type="search" name="query" class="form-control" id="emplacementSearch">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Rechercher 🔎</button>
                                </form>
                            </article>
                        </div>
                    </section>
                    <hr>
                    <section class="my-4">
                        <h5><b>Indexs des différentes pages</b></h5>
                        <div class="list-group shadow-sm">
                            <a href="{{ path('musee_index') }}" class="list-group-item list-group-item-action">
                                🗂️ Index des Musées
                            </a>
                            <a href="{{ path('directeur_index') }}" class="list-group-item list-group-item-action">
                                🗂️ Index des Directeurs
                            </a>
                            <a href="{{ path('emplacement_search') }}" class="list-group-item list-group-item-action">
                                🗂️ Index des Emplacements
                            </a>

                        </div>
                    </section>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}